body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: aliceblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.weather {
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 1200px;
  height: 85%;
  border-radius: 10px;
}

.hero-img {
  border: 1px solid rgb(65, 97, 124);
  height: 450px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom: none;
  background: url("https://res.cloudinary.com/dxfq3iotg/image/upload/v1557323760/weather.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.weathers {
  border: 1px solid;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.weather-head {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  color: rgb(65, 97, 124);
  width: 100%;
}

.queryHead h2 {
  font-size: 5rem;
  margin-bottom: 0;
}

.queryCountry {
  font-size: 1.5rem;
}

#search-form {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 5px;
  border: 1px solid rgb(65, 97, 124);
}

input#query {
  padding: 1px 5px;
  border: none;
  height: 2rem;
  border-radius: 5px;
}

#search-form button {
  border: none;
  background: transparent;
  font-size: 18px;
  color: #41617c;
  padding: 5px 10px;
  cursor: pointer;
}

.mausam-loader {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 50%;
  right: 50%;
}

.mausam-week {
  display: flex;
}

.weathers .week {
  width: calc(100% / 7);
  text-align: center;
  padding: 1rem;
  border-right: 1px solid #d5d5d5;
}

.weathers .week:last-child {
  border-right: none;
}

.week .week-day,
.week .week-tem {
  margin: 5px;
}

@media only screen and (max-width: 1230px) {
  .weather-head {
    width: auto;
    flex-direction: column;
  }
}
